@media (max-width: 992px){

.navbar{

position:fixed;

top:70px;

left:-100%;

width:280px;

height:calc(100vh - 70px);

background:var(--surface);

transition:.3s;

padding:25px;

overflow-y:auto;

}

.navbar.active{

left:0;

}

.nav-links{

flex-direction:column;

gap:18px;

}

.mobile-menu-btn{

display:flex;

align-items:center;

justify-content:center;

}

}

@media (min-width:993px){

.mobile-menu-btn{

display:none;

}

}